body {
    margin: 0;
    padding: 0;
    font-family: 'Belinda', 'Bradley Hand', cursive, 'Brandon Grotesque', sans-serif;
    background: url('https://wallpaperaccess.com/full/3467356.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

header {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.header-logo {
    width: 100px; /* Adjust logo width as needed */
    height: auto; /* Maintain aspect ratio */
}

.header-title {
    text-align: center;
    font-size: 2rem;
    animation: fadeIn 3s forwards; /* Add animation for fading in */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

.section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.section h2 {
    margin-bottom: 1rem;
}

.section ul {
    padding: 0;
    list-style: none;
}

.section li {
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    background: url('https://wallpaperaccess.com/full/3159235.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 2rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: fadeIn 3s forwards; /* Add animation for fading in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

